/* themeColor
-----------------------------*/
$theme-color:rgba(68,160,174,1);
$theme-color-alpha10:rgba(68,160,174,.1);

/* fontFamily
-----------------------------*/
$font-jp:'Noto Sans JP',sans-serif;
$font-en:Century Gothic;